{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: aquamarine;
            background-image: url(https://th.bing.com/th/id/OIP.FnipWdSeWI2clNSr5ZAuowHaLG?rs=1&pid=ImgDetMain);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0px_100px;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <h1>css background props</h1>
</body>
</html>